<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BPSFMMobileApp"
        tools:targetApi="31">
        <activity
            android:name=".home.quickActions.newGuest.NewGuestActivity"
            android:exported="false" />
        <activity
            android:name=".home.quickActions.addRequest.AddRequestActivity"
            android:exported="false" />
        <activity
            android:name=".home.quickActions.QuickActionActivity"
            android:exported="false"
            android:parentActivityName=".home.HomeActivity"/>
        <activity
            android:name=".home.notifications.NotificationsActivity"
            android:exported="false"
            android:label="Notifications"
            android:parentActivityName=".home.HomeActivity" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.BPSFMMobileApp.NoActionBar" />
        <activity
            android:name=".password.ResetPasswordActivity"
            android:exported="false"
            android:parentActivityName=".password.ForgotPasswordActivity" />
        <activity
            android:name=".signup.BusinessSignUpActivity"
            android:exported="false"
            android:label="Go back"
            android:parentActivityName=".signup.SignupActivity" />
        <activity
            android:name=".signup.VendorSignUpActivity"
            android:exported="false"
            android:label="Go back"
            android:parentActivityName=".signup.SignupActivity" />
        <activity
            android:name=".password.ForgotPasswordActivity"
            android:exported="false"
            android:parentActivityName=".login.LoginActivity" />
        <activity
            android:name=".signup.SignupActivity"
            android:exported="false"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>